<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Платформа обмена</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header">
    <strong> Для записи звонить: Отдел записи — Глушко Алина 📞 +7 (900) 123-45-67</strong><nav><a class="navbar navbase" href="/login">Логин</a> <a class="navbar navbase" href="/register">Регистрация</a> <a class="navbar navbase" href="/profile">Профиль</a> <a class="navbar navbase" href="/friends">Друзья</a> <strong><a class="navbar navbase" href="/home">Маршруты</a></strong></nav>
<hr>
</header>

{{{body}}}
</body>
</html>
