body{
    background: rgb(155, 181, 181, 0.35);;
}
nav{
    color:black;
    font-size: 20px;
    text-align: right;
    margin-right: 30px;
}

.navbase{
    margin: 4px 4px 4px 4px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    background: rgb(155, 181, 181, 0.7);
    padding: 2px 2px;
}

.navbar .navbar:hover .navbar:active {
    color:black;
}

#friendsList{
    border: 1px solid black;
    background: rgb(155, 181, 181, 0.35);
    display: grid;
    margin-top: 15px;
}

.friend-card{
    border: 2px solid black;
    background: white;
    margin: 5px 5px 5px 5px;
    width: 350px;
    height: auto;
    min-height: 150px;
}

.friend-card button {
    padding: 2px 4px;
    background-color: #4a90e2;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.friend-card button:hover {
    background-color: #357bd8;
}